<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="se.lnu.thesis.wearable_health">
    <queries>
        <intent>
            <action android:name="android.health.connect.action.HEALTH_CONNECT_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
        </intent>
    </queries>
</manifest>
