<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="se.lnu.wearable_health">
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <application>
        <activity
            android:name=".HealthConnectPermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!-- Permission handling for Android 13 and before -->
        <intent-filter>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent-filter>

        <!-- Permission handling for Android 14 and later -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
            <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
        </intent-filter>
        </activity>
    </application>
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>
