<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="se.lnu.thesis.data_seeder">

    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE" />
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE_VARIABILITY" />
    <uses-permission android:name="android.permission.health.WRITE_SKIN_TEMPERATURE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_HEART_VARIABILITY" />
    <uses-permission android:name="android.permission.health.READ_SKIN_TEMPERATURE" />


</manifest>
